<div class="container align-center">
  <div class="result">
    <span class="result-text">
      {{result}}
    </span>
    <span class="value" *ngIf="value.active">
      ={{value.value}}
    </span>
  </div>
  <div class="buttons align-center" *ngFor="let buttonRow of buttons">
    <button class="button align-center" (click)="click(button)" *ngFor="let button of buttonRow" [ngClass]="buttonColor(button)">
      {{button}}
    </button>
  </div>

  <div *ngIf="dialog" class="dialog">
    <div class="space-title">
      <div>Themes</div>
      <button (click)="dialog = !dialog" class="close align-center">X</button>
    </div>
    <div class="content">
      <ul class="themes align-center">
        <li class="align-center" *ngFor="let theme of themes">{{theme}}</li>
      </ul>
    </div>
  </div>
</div>
